<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
			  <li><%= link_to "Home", home_index_path %></li>
			  <li class="active">Shopping Cart</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Item</td>
						<td class="description"></td>
						<td class="price">Price</td>
						<td class="quantity">Quantity</td>
						<td class="total">Total</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<% total ||= [] %>
					<tr>
						<% @cart_products.each do |cart| %>
					  	<% product = Product.find(cart.keys[0]) %>
								<td class="cart_product">
									<% if product.product_images.length > 0 %>
	      						<%= image_tag product.product_images[0].image.url , style: " width: 110px; height: 110px;" %>
	    						<% end %>
								</td>
								<td class="cart_description">
									<h4><%= link_to product.name %></h4>
									<p>Web ID: 1089772</p>
								</td>
								<td class="cart_price">
									<p><%= product.price %></p>
								</td>
								<td class="cart_quantity">
									<div class="cart_quantity_button">
										<%= link_to "+" , home_cart_quantity_up_path(product_quantity: cart.fetch(product.id).fetch(:quantity), product_id: product.id), class: "cart_quantity_up" , remote: true %>
										<input class="cart_quantity_input" type="text" name="quantity" value="<%= cart.fetch(product.id).fetch(:quantity) %>" autocomplete="off" size="2">
										<%= link_to "-" , home_cart_quantity_down_path(product_quantity: cart.fetch(product.id).fetch(:quantity), product_id: product.id), class: "cart_quantity_down" , remote: true %>
									</div>
								<td class="cart_total">
									<p class="cart_total_price"><%= product.price * cart.fetch(product.id).fetch(:quantity).to_f %></p>
								</td>
								<td class="cart_delete">
									<%= link_to (raw('<i class="fa fa-times"></i>')), home_remove_from_cart_path(product_id: product.id), class: "cart_quantity_delete" ,remote: true , confirm: 'are you sure?' %>
								</td>
							</tr>
	  					<% total << (product.price * cart.fetch(product.id).fetch(:quantity).to_f) %>
	  					<% @totalvalue = total.inject(0){|sum,x| sum + x } %>
						<% end %>
				</tbody>
			</table>
		</div>
	</div>
</section> <!--/#cart_items-->

<section id="do_action">
	<div class="container">
		<div class="heading">
			<h3>What would you like to do next?</h3>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="total_area">
					<ul>
						<li>Cart Sub Total <span><%= @totalvalue.to_i %></span></li>
						<li>Shipping Cost <span>Free</span></li>
						<li>Total <span><%= @totalvalue.to_i %></span></li>
					</ul>
					<%= link_to "Check Out", orders_checkout_orders_path , class: 'btn btn-default check_out' %>
				</div>
			</div>
		</div>
	</div>
</section>