<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
			  <li><a href="#">Home</a></li>
			  <li class="active">Check out</li>
			</ol>
		</div><!--/breadcrums-->
		<div class="step-one">
			<h2 class="heading">Step1</h2>
		</div>
		<div class="shopper-informations">
			<div class="row">
				<div class="container">
					<div class="bill-to"><p>Bill To</p></div>
			    <div class="row grid-divider">
						<% @billing_addresses.each do |address| %>
					    <div class="col-sm-4" style="margin-bottom: 15px;">
					      <div class="bill-to">
									<div class="form-one billing-address">
										<%= radio_button_tag(:billing_address, "#{address.id}") %>
										<%= "Address 1:  #{address.address_1} " %><br>
										<%= "Address 2: #{address.address_2} " %><br>
										<%= "City: #{address.city}" %><br>
										<%= "State: #{address.state}" %><br>
										<%= "Country: #{address.country}" %><br>
										<%= "Zip Code: #{address.zipcode}" %><br>
										<%= link_to "Edit Address", edit_user_address_path(address.id), class:"btn btn-primary" %>
										<%= link_to "Delete Address", order_path(address.id), class:"btn btn-primary", method: :delete %>
									</div>
								</div>
					    </div>
						<% end %>
			    </div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="container">
					<div class="bill-to"><p>Ship To</p></div>
			    <div class="row grid-divider">
						<% @shipping_addresses.each do |address| %>
					    <div class="col-sm-4" style="margin-bottom: 15px;">
					      <div class="bill-to">
									<div class="form-one shipping-address">
										<%= radio_button_tag(:shipping_address, "#{address.id}") %>
										<%= "Address 1:  #{address.address_1} " %><br>
										<%= "Address 2: #{address.address_2} " %><br>
										<%= "City: #{address.city}" %><br>
										<%= "State: #{address.state}" %><br>
										<%= "Country: #{address.country}" %><br>
										<%= "Zip Code: #{address.zipcode}" %><br>
										<%= link_to "Edit Address", edit_user_address_path(address.id), class:"btn btn-primary" %>
										<%= link_to "Delete Address", order_path(address.id), class:"btn btn-primary", method: :delete %>
									</div>
								</div>
					    </div>
						<% end %>
			    </div>
				</div>
			</div>
		</div>
		<%= link_to "Add New Address", new_user_address_path, class:"btn btn-primary" %>
		<div class="review-payment">
			<h2>Review & Payment</h2>
		</div>
		<!-- <div class="table-responsive cart_info"> -->
		<section id="cart_items">
			<div class="container">
				<div class="table-responsive cart_info">
					<table class="table table-condensed">
						<thead>
							<tr class="cart_menu">
								<td class="image">Item</td>
								<td class="description"></td>
								<td class="price">Price</td>
								<td class="quantity">Quantity</td>
								<td class="total">Total</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							<% total ||= [] %>
							<tr>
								<% @cart_products.each do |cart| %>
							  	<% product = Product.find(cart.keys[0]) %>
										<td class="cart_product">
											<% if product.product_images.length > 0 %>
			      						<%= image_tag product.product_images[0].image.url , style: " width: 110px; height: 110px;" %>
			    						<% end %>
										</td>
										<td class="cart_description">
											<h4><%= link_to product.name, product_path(product.id) %></h4>
											<p>Web ID: 1089772</p>
										</td>
										<td class="cart_price">
											<p><%= product.price %></p>
										</td>
										<td class="cart_quantity">
											<div class="cart_quantity_button">
												<%= link_to "+" , orders_quantity_up_orders_path(product_quantity: cart.fetch(product.id).fetch(:quantity), product_id: product.id), class: "cart_quantity_up" , remote: true %>
												<input class="cart_quantity_input" type="text" name="quantity" value="<%= cart.fetch(product.id).fetch(:quantity) %>" autocomplete="off" size="2">
												<%= link_to "-" , orders_quantity_down_orders_path(product_quantity: cart.fetch(product.id).fetch(:quantity), product_id: product.id), class: "cart_quantity_down" , remote: true %>
											</div>
										<td class="cart_total">
											<p class="cart_total_price"><%= product.price * cart.fetch(product.id).fetch(:quantity).to_f %></p>
										</td>
										<td class="cart_delete">
											<%= link_to (raw('<i class="fa fa-times"></i>')), orders_remove_from_cart_orders_path(product_id: product.id), class: "cart_quantity_delete" ,remote: true , confirm: 'are you sure?' %>
										</td>
									</tr>
			  					<% total << (product.price * cart.fetch(product.id).fetch(:quantity).to_f) %>
			  					<% @totalvalue = total.inject(0){|sum,x| sum + x } %>
								<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</section> <!--/#cart_items-->
		<section id="do_action">
			<div class="container">
				<div class="heading">
					<h3>What would you like to do next?</h3>
					<p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="chose_area">
							<ul class="user_option">
								<li>
									<input type="checkbox" class="checkbox1">
									<label>Use Coupon Code</label>
									<div class="coupon_code" style="display:none;">
										<%= form_tag orders_proceed_to_payment_orders_path, id: "coupon_form", method: "post" do %>
											<%= text_field_tag(:coupon_code) %>
											<%= hidden_field_tag :id, @code.id if @code.present? %>
											<%= hidden_field_tag 'billing_address_id', 'billing_address_id' %>
											<%= hidden_field_tag 'shipping_address_id', 'shipping_address_id' %>
											<%= submit_tag "Proceed To Payment", class: 'btn btn-default check_out', style: 'margin-bottom: 22px;' %>
										<% end %>
									</div>
								</li>
								<li>
									<input type="checkbox">
									<label>Use Gift Voucher</label>
								</li>
								<li>
									<input type="checkbox">
									<label>Estimate Shipping & Taxes</label>
								</li>
							</ul>
							<ul class="user_info">
								<li class="single_field">
									<label>Country:</label>
									<select>
										<option>United States</option>
										<option>Bangladesh</option>
										<option>UK</option>
										<option>India</option>
										<option>Pakistan</option>
										<option>Ucrane</option>
										<option>Canada</option>
										<option>Dubai</option>
									</select>
								</li>
								<li class="single_field">
									<label>Region / State:</label>
									<select>
										<option>Select</option>
										<option>Dhaka</option>
										<option>London</option>
										<option>Dillih</option>
										<option>Lahore</option>
										<option>Alaska</option>
										<option>Canada</option>
										<option>Dubai</option>
									</select>
								</li>
								<li class="single_field zip-field">
									<label>Zip Code:</label>
									<input type="text">
								</li>
							</ul>
							<a class="btn btn-default update" href="">Get Quotes</a>
							<a class="btn btn-default check_out" href="">Continue</a>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="total_area">
							<ul>
								<li>Cart Sub Total <span><%= @totalvalue.to_i %></span></li>
								<li>Discount <span></span></li>
								<li>Shipping Cost <span>Free</span></li>
								<li>Total <span><%= @totalvalue.to_i %></span></li>
							</ul>
							<%= link_to "Proceed To Payment", orders_proceed_to_payment_orders_path, id: "address" , class: 'btn btn-default check_out', method: :post %>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- </div> -->
		<div class="payment-options">
			<span>
				<label><input type="checkbox"> Direct Bank Transfer</label>
			</span>
			<span>
				<label><input type="checkbox"> Check Payment</label>
			</span>
			<span>
				<label><input type="checkbox"> Paypal</label>
			</span>
		</div>
	</div>
</section> <!--/#cart_items-->
<script type="text/javascript">
	$(document).ready(function($) {
		$(".checkbox1").click(function(){
		  $(".coupon_code").toggle();
		  $("#address").toggle();
		});
   	$("#coupon_form").submit(function(){
   		var billingAddress = $("input[name='billing_address']:checked").val();
   		if (billingAddress == ""){
   			return false;
   		}
   		else {
   			$("#billing_address_id").val(billingAddress);
   		}
   		var shippingAddress = $("input[name='shipping_address']:checked").val();
   		if (shippingAddress == ""){
   			return false;
   		}
   		else {
   			$("#shipping_address_id").val(shippingAddress);
   		}
   	});
	});
</script>