<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
			  <li><a href="#">Home</a></li>
			  <li class="active">Check out</li>
			</ol>
		</div><!--/breadcrums-->
		<div class="step-one">
			<h2 class="heading">Step1</h2>
		</div>
		<div class="shopper-informations">
			<%= render 'orders/billing_address' %>
			<hr>
			<%= render 'orders/shipping_address'%>
		</div>
		<%= link_to "Add New Address", new_user_address_path, class:"btn btn-primary" %>
		<div class="review-payment">
			<h2>Review & Payment</h2>
		</div>
		<%= render 'orders/checkout' %>
		<section id="do_action">
			<div class="container">
				<div class="heading">
					<h3>What would you like to do next?</h3>
					<p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
				</div>
				<div class="row">
					<%= render 'orders/coupon_form' %>
					<div class="col-sm-6">
						<div class="total_area">
							<ul>
								<li>Cart Sub Total <span><%= @totalvalue.to_i %></span></li>
								<li>Discount <span></span></li>
								<li>Shipping Cost <span>Free</span></li>
								<li>Total <span><%= @totalvalue.to_i %></span></li>
							</ul>
							<%= link_to "Proceed To Payment", orders_proceed_to_payment_orders_path, id: "address" , class: 'btn btn-default check_out', method: :post %>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</section> <!--/#cart_items-->
<script type="text/javascript">
	$(document).ready(function($) {
		$(".checkbox1").click(function(){
		  $(".coupon_code").toggle();
		});
   	$("#coupon_form").submit(function(){
   		var billingAddress = $("input[name='billing_address']:checked").val();
   		if (billingAddress == ""){
   			return false;
   		}
   		else {
   			$("#billing_address_id").val(billingAddress);
   		}
   		var shippingAddress = $("input[name='shipping_address']:checked").val();
   		if (shippingAddress == ""){
   			return false;
   		}
   		else {
   			$("#shipping_address_id").val(shippingAddress);
   		}
   	});
		$(".billing-address").click(function(){
 	    var billingAddress = $("input[name='billing_address']:checked").val();
 	    if($('#address').attr('href').indexOf("?") > -1){
 	    	var url = $('#address').attr('href') + '&billing_address_id=' + billingAddress;
 	    	$('#address').attr('href', url);
 	    }
 	    else{
  	  	var url = $('#address').attr('href') + '?billing_address_id=' + billingAddress;
		    $('#address').attr('href', url);
		  }
		});
	  $(".shipping-address").click(function(){
	  	var shippingAddress = $("input[name='shipping_address']:checked").val();
	  	if($('#address').attr('href').indexOf("?") > -1){
	  		var url = $('#address').attr('href') + '&shipping_address_id=' + shippingAddress;
	      $('#address').attr('href', url);
	  	}
  		else{
  			var url = $('#address').attr('href') + '?shipping_address_id=' + shippingAddress;
      	$('#address').attr('href', url);
  		}
  	});
	});
</script>