<script type="text/javascript" charset="utf-8">
  $(function () {
    var myChart = Highcharts.chart('orders_chart', {
      chart: {
        type: 'column'
      },
      title: {
        text: 'Sales Report'
      },
      xAxis: {
        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      },
      yAxis: {
        title: {
            text: 'Total'
        }
      },
      series: [{
        name: 'Total Orders',
        data: [<%= @jan %>, <%= @feb %>, <%= @mar %>, <%= @apr %>, <%= @may %>, <%= @jun %>, <%= @jul %>, <%= @aug %>, <%= @sep %>, <%= @oct %>, <%= @nov %>, <%= @dec %>]
      }, {
        name: 'Total Sales',
        data: [<%= @jan_total %>, <%= @feb_total %>, <%= @mar_total %>, <%= @apr_total %>, <%= @may_total %>, <%= @jun_total %>, <%= @jul_total %>, <%= @aug_total %>, <%= @sep_total %>, <%= @oct_total %>, <%= @nov_total %>, <%= @dec_total %>]
      }]
    });
    var myChart1 = Highcharts.chart('customer_chart', {
      chart: {
        type: 'column'
      },
      title: {
        text: 'Customer Registered Report'
      },
      xAxis: {
        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      },
      yAxis: {
        title: {
            text: 'Total Customers'
        }
      },
      series: [{
        name: 'Total Customer Registered',
        <% render 'orders/customer_chart' %>
        data: [<%= @jan_customer_total %>, <%= @feb_customer_total %>, <%= @mar_customer_total %>, <%= @apr_customer_total %>, <%= @may_customer_total %>, <%= @jun_customer_total %>, <%= @jul_customer_total %>, <%= @aug_customer_total %>, <%= @sep_customer_total %>, <%= @oct_customer_total %>, <%= @nov_customer_total %>, <%= @dec_customer_total %>]
      }]
    });
    var myChart2 = Highcharts.chart('coupons_chart', {
      chart: {
        type: 'column'
      },
      title: {
        text: 'Coupons Used'
      },
      xAxis: {
        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      },
      yAxis: {
        title: {
            text: 'Total Coupons Used'
        }
      },
      series: [{
        name: 'Total Coupon Used',
        <% render 'orders/coupon_chart' %>
        data: [<%= @jan_coupon_total %>, <%= @feb_coupon_total %>, <%= @mar_coupon_total %>, <%= @apr_coupon_total %>, <%= @may_coupon_total %>, <%= @jun_coupon_total %>, <%= @jul_coupon_total %>, <%= @aug_coupon_total %>, <%= @sep_coupon_total %>, <%= @oct_coupon_total %>, <%= @nov_coupon_total %>, <%= @dec_coupon_total %>]
      }]
    });
  });
</script>

<div class="container" id="orders_chart" style="width:70%; height:300px;"></div>
<br>
<br>
<br>
<div class="container" id="customer_chart" style="width:70%; height:300px;"></div>
<br>
<br>
<br>
<div class="container" id="coupons_chart" style="width:70%; height:300px;"></div>