<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
			  <li><%= link_to "Home", home_index_path %></li>
			  <li class="active">Check out</li>
			</ol>
		</div><!--/breadcrums-->
		<div class="step-one">
			<h2 class="heading">Step1</h2>
		</div>
		<div class="shopper-informations">
			<div class="row">
				<div class="container">
					<div class="bill-to"><p>Bill To</p></div>
				    <div class="row grid-divider">
						<% @billing_addresses.each do |address| %>
						    <div class="col-sm-4" style="margin-bottom: 15px;">
						      	<div class="bill-to">
									<div class="form-one billing-address">
										<%= radio_button_tag(:billing_address, "#{address.id}") %>
										<%= "Address 1:  #{address.address_1} " %><br>
										<%= "Address 2: #{address.address_2} " %><br>
										<%= "City: #{address.city}" %><br>
										<%= "State: #{address.state}" %><br>
										<%= "Country: #{address.country}" %><br>
										<%= "Zip Code: #{address.zipcode}" %><br>
										<%= link_to "Edit Address", edit_user_address_path(address.id), class:"btn btn-primary" %>
										<%= link_to "Delete Address", order_path(address.id), class:"btn btn-primary", method: :delete %>
									</div>
								</div>
						    </div>
						<% end %>
				    </div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="container">
				<div class="bill-to"><p>Ship To</p></div>
		    <div class="row grid-divider">
					<% @shipping_addresses.each do |address| %>
				    <div class="col-sm-4" style="margin-bottom: 15px;">
				      <div class="bill-to">
								<div class="form-one shipping-address">
									<%= radio_button_tag(:shipping_address, "#{address.id}") %>
									<%= "Address 1:  #{address.address_1} " %><br>
									<%= "Address 2: #{address.address_2} " %><br>
									<%= "City: #{address.city}" %><br>
									<%= "State: #{address.state}" %><br>
									<%= "Country: #{address.country}" %><br>
									<%= "Zip Code: #{address.zipcode}" %><br>
									<%= link_to "Edit Address", edit_user_address_path(address.id), class:"btn btn-primary" %>
									<%= link_to "Delete Address", order_path(address.id), class:"btn btn-primary", method: :delete %>
								</div>
							</div>
				    </div>
					<% end %>
		    </div>
			</div>
		</div>
		<%= link_to "Add New Address", new_user_address_path, class:"btn btn-primary" %>
		<div class="review-payment">
			<h2>Review & Payment</h2>
		</div>
		<!-- <div class="table-responsive cart_info"> -->
		<section id="cart_items">
			<div class="container">
				<div class="table-responsive cart_info">
					<table class="table table-condensed">
						<thead>
							<tr class="cart_menu">
								<td class="image">Item</td>
								<td class="description"></td>
								<td class="price">Price</td>
								<td class="quantity">Quantity</td>
								<td class="total">Total</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							<% total ||= [] %>
							<tr>
								<% @cart_products.each do |cart| %>
						  		<% product = find_products(cart) %>
									<td class="cart_product">
										<% if product.product_images.length > 0 %>
		      						<%= image_tag product.product_images[0].image.url , style: " width: 110px; height: 110px;" %>
		    						<% end %>
									</td>
									<td class="cart_description">
										<h4><%= link_to product.name, product_path(product.id) %></h4>
										<p>Web ID: 1089772</p>
									</td>
									<td class="cart_price">
										<p><%= product.price %></p>
									</td>
									<td class="cart_quantity">
										<div class="cart_quantity_button">
											<%= link_to "+" , orders_add_quantity_orders_path(product_quantity: cart.fetch(product.id).fetch(:quantity), product_id: product.id), class: "cart_quantity_up" , remote: true %>
											<input class="cart_quantity_input" type="text" name="quantity" value="<%= cart.fetch(product.id).fetch(:quantity) %>" autocomplete="off" size="2">
											<%= link_to "-" , orders_remove_quantity_orders_path(product_quantity: cart.fetch(product.id).fetch(:quantity), product_id: product.id), class: "cart_quantity_down" , remote: true %>
										</div>
									<td class="cart_total">
										<p class="cart_total_price"><%= calculate_total_of_products(cart, product) %></p>
									</td>
									<td class="cart_delete">
										<%= link_to (raw('<i class="fa fa-times"></i>')), orders_remove_from_cart_orders_path(product_id: product.id), class: "cart_quantity_delete" ,remote: true , confirm: 'are you sure?' %>
									</td>
								</tr>
		  					<% total << calculate_total_of_products(cart, product) %>
		  					<% @totalvalue = calculate_total_price(total) %>
		  					<% @discounted_price = calculate_discounted_value(@totalvalue) %>
							<% end %>
						</tbody>
					</table>
				<!-- </div> -->
			</div>
		</section> <!--/#cart_items-->

		<section id="do_action">
			<div class="container">
				<div class="heading">
					<h3>What would you like to do next?</h3>
					<p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="chose_area">
							<ul class="user_option">
								<li>
									<input type="checkbox" class="checkbox1">
									<label>Use Coupon Code</label>
									<div class="coupon_code" style="display:none;">
										<%= form_tag orders_redeem_coupon_orders_path, method: "post" do %>
											<%= text_field_tag(:coupon_code) %>
											<%= hidden_field_tag :id, @code.id if @code.present? %>
											<%= submit_tag "Redeem Coupon", class: 'btn btn-default check_out', style: 'margin-bottom: 22px;' %>
										<% end %>
									</div>
								</li>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="total_area">
							<ul>
								<li>Cart Sub Total <span><%= @totalvalue %></span></li>
								<li>Discount <span>
									<% if @discounted_price.present? %>
										<%= "#{@code.percent_off.to_i}%" %>
										<%= hidden_field_tag :id, @code.id %>
									<% end %>
								</span></li>
								<li>Shipping Cost <span>Free</span></li>
								<li>Total <span>
									<% if @discounted_price.present? %>
										<%= @discounted_price %>
									<% else %>
										<%= @totalvalue %>
									<% end %>
								</span></li>
							</ul>
							<% if @discounted_price.present? %>
								<%= link_to "Proceed To Payment", orders_proceed_to_payment_orders_path(discount_percent: @code.percent_off, discount_price: @discounted_price), id: "address" , class: 'btn btn-default check_out', method: :post %>
							<% else %>
								<%= link_to "Proceed To Payment", orders_proceed_to_payment_orders_path, id: "address" , class: 'btn btn-default check_out', method: :post %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- </div> -->
	</div>
</section> <!--/#cart_items-->
<script type="text/javascript">
	$(document).ready(function($) {
		$(".checkbox1").click(function(){
		   $(".coupon_code").toggle();
		});
		$(".billing-address").click(function(){
	    var billingAddress = $("input[name='billing_address']:checked").val();
	    if($('#address').attr('href').indexOf("?") > -1){
		    var url = $('#address').attr('href') + '&billing_address_id=' + billingAddress;
  	    $('#address').attr('href', url);
  	  }
  	  else{
  	  	var url = $('#address').attr('href') + '?billing_address_id=' + billingAddress;
  	    $('#address').attr('href', url);
  	  }
	  });
    $(".shipping-address").click(function(){
      var shippingAddress = $("input[name='shipping_address']:checked").val();
      if($('#address').attr('href').indexOf("?") > -1){
	      var url = $('#address').attr('href') + '&shipping_address_id=' + shippingAddress;
	      $('#address').attr('href', url);
    	}
    	else{
    		var url = $('#address').attr('href') + '?shipping_address_id=' + shippingAddress;
	      $('#address').attr('href', url);
    	}
    });
	});
</script>